<ul>
  <li>
    {% for navigation in meta.navigation %}
    <h2>{{ navigation.title }}</h2>
    <ul>
      {% for item in navigation.items %}
        <li>
          <a href="{{ rootUrl(item.url) }}">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
