:root,
.theme-light {
  color-scheme: light;

  /**************************************************************
  * Color Primitives
  *************************************************************/

  /* Gray */
  --docs-color-gray-50: hsl(255, 33%, 98%);
  --docs-color-gray-100: hsl(240, 13%, 95%);
  --docs-color-gray-200: hsl(255, 12%, 94%);
  --docs-color-gray-300: hsl(260, 21%, 89%);
  --docs-color-gray-400: hsl(251, 17%, 76%);
  --docs-color-gray-500: hsl(254, 17%, 66%);
  --docs-color-gray-600: hsl(258, 15%, 58%);
  --docs-color-gray-700: hsl(259, 13%, 54%);
  --docs-color-gray-800: hsl(259, 13%, 42%);
  --docs-color-gray-900: hsl(262, 12%, 35%);
  --docs-color-gray-950: hsl(258, 15%, 23%);

  /* Red */
  --docs-color-red-50: hsl(0 85.7% 97.3%);
  --docs-color-red-100: hsl(0 93.3% 94.1%);
  --docs-color-red-200: hsl(0 96.3% 89.4%);
  --docs-color-red-300: hsl(0 93.5% 81.8%);
  --docs-color-red-400: hsl(0 90.6% 70.8%);
  --docs-color-red-500: hsl(0 84.2% 60.2%);
  --docs-color-red-600: hsl(0 72.2% 50.6%);
  --docs-color-red-700: hsl(0 73.7% 41.8%);
  --docs-color-red-800: hsl(0 70% 35.3%);
  --docs-color-red-900: hsl(0 62.8% 30.6%);
  --docs-color-red-950: hsl(0 60% 19.6%);

  /* Orange */
  --docs-color-orange-50: hsl(33.3 100% 96.5%);
  --docs-color-orange-100: hsl(34.3 100% 91.8%);
  --docs-color-orange-200: hsl(32.1 97.7% 83.1%);
  --docs-color-orange-300: hsl(30.7 97.2% 72.4%);
  --docs-color-orange-400: hsl(27 96% 61%);
  --docs-color-orange-500: hsl(24.6 95% 53.1%);
  --docs-color-orange-600: hsl(20.5 90.2% 48.2%);
  --docs-color-orange-700: hsl(17.5 88.3% 40.4%);
  --docs-color-orange-800: hsl(15 79.1% 33.7%);
  --docs-color-orange-900: hsl(15.3 74.6% 27.8%);
  --docs-color-orange-950: hsl(15.2 69.1% 19%);

  /* Amber */
  --docs-color-amber-50: hsl(48 100% 96.1%);
  --docs-color-amber-100: hsl(48 96.5% 88.8%);
  --docs-color-amber-200: hsl(48 96.6% 76.7%);
  --docs-color-amber-300: hsl(45.9 96.7% 64.5%);
  --docs-color-amber-400: hsl(43.3 96.4% 56.3%);
  --docs-color-amber-500: hsl(37.7 92.1% 50.2%);
  --docs-color-amber-600: hsl(32.1 94.6% 43.7%);
  --docs-color-amber-700: hsl(26 90.5% 37.1%);
  --docs-color-amber-800: hsl(22.7 82.5% 31.4%);
  --docs-color-amber-900: hsl(21.7 77.8% 26.5%);
  --docs-color-amber-950: hsl(22.9 74.1% 16.7%);

  /* Yellow */
  --docs-color-yellow-50: hsl(54.5 91.7% 95.3%);
  --docs-color-yellow-100: hsl(54.9 96.7% 88%);
  --docs-color-yellow-200: hsl(52.8 98.3% 76.9%);
  --docs-color-yellow-300: hsl(50.4 97.8% 63.5%);
  --docs-color-yellow-400: hsl(47.9 95.8% 53.1%);
  --docs-color-yellow-500: hsl(45.4 93.4% 47.5%);
  --docs-color-yellow-600: hsl(40.6 96.1% 40.4%);
  --docs-color-yellow-700: hsl(35.5 91.7% 32.9%);
  --docs-color-yellow-800: hsl(31.8 81% 28.8%);
  --docs-color-yellow-900: hsl(28.4 72.5% 25.7%);
  --docs-color-yellow-950: hsl(33.1 69% 13.9%);

  /* Lime */
  --docs-color-lime-50: hsl(78.3 92% 95.1%);
  --docs-color-lime-100: hsl(79.6 89.1% 89.2%);
  --docs-color-lime-200: hsl(80.9 88.5% 79.6%);
  --docs-color-lime-300: hsl(82 84.5% 67.1%);
  --docs-color-lime-400: hsl(82.7 78% 55.5%);
  --docs-color-lime-500: hsl(83.7 80.5% 44.3%);
  --docs-color-lime-600: hsl(84.8 85.2% 34.5%);
  --docs-color-lime-700: hsl(85.9 78.4% 27.3%);
  --docs-color-lime-800: hsl(86.3 69% 22.7%);
  --docs-color-lime-900: hsl(87.6 61.2% 20.2%);
  --docs-color-lime-950: hsl(86.5 60.6% 13.9%);

  /* Green */
  --docs-color-green-50: hsl(138.5 76.5% 96.7%);
  --docs-color-green-100: hsl(140.6 84.2% 92.5%);
  --docs-color-green-200: hsl(141 78.9% 85.1%);
  --docs-color-green-300: hsl(141.7 76.6% 73.1%);
  --docs-color-green-400: hsl(141.9 69.2% 58%);
  --docs-color-green-500: hsl(142.1 70.6% 45.3%);
  --docs-color-green-600: hsl(142.1 76.2% 36.3%);
  --docs-color-green-700: hsl(142.4 71.8% 29.2%);
  --docs-color-green-800: hsl(142.8 64.2% 24.1%);
  --docs-color-green-900: hsl(143.8 61.2% 20.2%);
  --docs-color-green-950: hsl(144.3 60.7% 12%);

  /* Emerald */
  --docs-color-emerald-50: hsl(151.8 81% 95.9%);
  --docs-color-emerald-100: hsl(149.3 80.4% 90%);
  --docs-color-emerald-200: hsl(152.4 76% 80.4%);
  --docs-color-emerald-300: hsl(156.2 71.6% 66.9%);
  --docs-color-emerald-400: hsl(158.1 64.4% 51.6%);
  --docs-color-emerald-500: hsl(160.1 84.1% 39.4%);
  --docs-color-emerald-600: hsl(161.4 93.5% 30.4%);
  --docs-color-emerald-700: hsl(162.9 93.5% 24.3%);
  --docs-color-emerald-800: hsl(163.1 88.1% 19.8%);
  --docs-color-emerald-900: hsl(164.2 85.7% 16.5%);
  --docs-color-emerald-950: hsl(164.3 87.5% 9.4%);

  /* Teal */
  --docs-color-teal-50: hsl(166.2 76.5% 96.7%);
  --docs-color-teal-100: hsl(167.2 85.5% 89.2%);
  --docs-color-teal-200: hsl(168.4 83.8% 78.2%);
  --docs-color-teal-300: hsl(170.6 76.9% 64.3%);
  --docs-color-teal-400: hsl(172.5 66% 50.4%);
  --docs-color-teal-500: hsl(173.4 80.4% 40%);
  --docs-color-teal-600: hsl(174.7 83.9% 31.6%);
  --docs-color-teal-700: hsl(175.3 77.4% 26.1%);
  --docs-color-teal-800: hsl(176.1 69.4% 21.8%);
  --docs-color-teal-900: hsl(175.9 60.8% 19%);
  --docs-color-teal-950: hsl(176.5 58.6% 11.4%);

  /* Cyan */
  --docs-color-cyan-50: hsl(183.2 100% 96.3%);
  --docs-color-cyan-100: hsl(185.1 95.9% 90.4%);
  --docs-color-cyan-200: hsl(186.2 93.5% 81.8%);
  --docs-color-cyan-300: hsl(187 92.4% 69%);
  --docs-color-cyan-400: hsl(187.9 85.7% 53.3%);
  --docs-color-cyan-500: hsl(188.7 94.5% 42.7%);
  --docs-color-cyan-600: hsl(191.6 91.4% 36.5%);
  --docs-color-cyan-700: hsl(192.9 82.3% 31%);
  --docs-color-cyan-800: hsl(194.4 69.6% 27.1%);
  --docs-color-cyan-900: hsl(196.4 63.6% 23.7%);
  --docs-color-cyan-950: hsl(196.8 61% 16.1%);

  /* Sky */
  --docs-color-sky-50: hsl(204 100% 97.1%);
  --docs-color-sky-100: hsl(204 93.8% 93.7%);
  --docs-color-sky-200: hsl(200.6 94.4% 86.1%);
  --docs-color-sky-300: hsl(199.4 95.5% 73.9%);
  --docs-color-sky-400: hsl(198.4 93.2% 59.6%);
  --docs-color-sky-500: hsl(198.6 88.7% 48.4%);
  --docs-color-sky-600: hsl(200.4 98% 39.4%);
  --docs-color-sky-700: hsl(201.3 96.3% 32.2%);
  --docs-color-sky-800: hsl(201 90% 27.5%);
  --docs-color-sky-900: hsl(202 80.3% 23.9%);
  --docs-color-sky-950: hsl(202.3 73.8% 16.5%);

  /* Blue */
  --docs-color-blue-50: hsl(213.8 100% 96.9%);
  --docs-color-blue-100: hsl(214.3 94.6% 92.7%);
  --docs-color-blue-200: hsl(213.3 96.9% 87.3%);
  --docs-color-blue-300: hsl(211.7 96.4% 78.4%);
  --docs-color-blue-400: hsl(213.1 93.9% 67.8%);
  --docs-color-blue-500: hsl(217.2 91.2% 59.8%);
  --docs-color-blue-600: hsl(221.2 83.2% 53.3%);
  --docs-color-blue-700: hsl(224.3 76.3% 48%);
  --docs-color-blue-800: hsl(225.9 70.7% 40.2%);
  --docs-color-blue-900: hsl(224.4 64.3% 32.9%);
  --docs-color-blue-950: hsl(226.2 55.3% 18.4%);

  /* Indigo */
  --docs-color-indigo-50: hsl(225.9 100% 96.7%);
  --docs-color-indigo-100: hsl(226.5 100% 93.9%);
  --docs-color-indigo-200: hsl(228 96.5% 88.8%);
  --docs-color-indigo-300: hsl(229.7 93.5% 81.8%);
  --docs-color-indigo-400: hsl(234.5 89.5% 73.9%);
  --docs-color-indigo-500: hsl(238.7 83.5% 66.7%);
  --docs-color-indigo-600: hsl(243.4 75.4% 58.6%);
  --docs-color-indigo-700: hsl(244.5 57.9% 50.6%);
  --docs-color-indigo-800: hsl(243.7 54.5% 41.4%);
  --docs-color-indigo-900: hsl(242.2 47.4% 34.3%);
  --docs-color-indigo-950: hsl(243.5 43.6% 22.9%);

  /* Violet */
  --docs-color-violet-50: hsl(250 100% 97.6%);
  --docs-color-violet-100: hsl(251.4 91.3% 95.5%);
  --docs-color-violet-200: hsl(250.5 95.2% 91.8%);
  --docs-color-violet-300: hsl(252.5 94.7% 85.1%);
  --docs-color-violet-400: hsl(255.1 91.7% 76.3%);
  --docs-color-violet-500: hsl(258.3 89.5% 66.3%);
  --docs-color-violet-600: hsl(262.1 83.3% 57.8%);
  --docs-color-violet-700: hsl(263.4 70% 50.4%);
  --docs-color-violet-800: hsl(263.4 69.3% 42.2%);
  --docs-color-violet-900: hsl(263.5 67.4% 34.9%);
  --docs-color-violet-950: hsl(265.1 61.5% 21.4%);

  /* Purple */
  --docs-color-purple-50: hsl(249, 100%, 97%);
  --docs-color-purple-100: hsl(245, 100%, 95%);
  --docs-color-purple-200: hsl(244, 100%, 92%);
  --docs-color-purple-300: hsl(246, 100%, 85%);
  --docs-color-purple-400: hsl(249, 100%, 76%);
  --docs-color-purple-500: hsl(252, 98%, 66%);
  --docs-color-purple-600: hsl(256, 91%, 59%);
  --docs-color-purple-700: hsl(257, 76%, 50%);
  --docs-color-purple-800: hsl(257, 76%, 42%);
  --docs-color-purple-900: hsl(257, 73%, 35%);
  --docs-color-purple-950: hsl(255, 79%, 23%);

  /* Fuchsia */
  --docs-color-fuchsia-50: hsl(289.1 100% 97.8%);
  --docs-color-fuchsia-100: hsl(287 100% 95.5%);
  --docs-color-fuchsia-200: hsl(288.3 95.8% 90.6%);
  --docs-color-fuchsia-300: hsl(291.1 93.1% 82.9%);
  --docs-color-fuchsia-400: hsl(292 91.4% 72.5%);
  --docs-color-fuchsia-500: hsl(292.2 84.1% 60.6%);
  --docs-color-fuchsia-600: hsl(293.4 69.5% 48.8%);
  --docs-color-fuchsia-700: hsl(294.7 72.4% 39.8%);
  --docs-color-fuchsia-800: hsl(295.4 70.2% 32.9%);
  --docs-color-fuchsia-900: hsl(296.7 63.6% 28%);
  --docs-color-fuchsia-950: hsl(297.1 56.8% 14.5%);

  /* Pink */
  --docs-color-pink-50: hsl(327.3 73.3% 97.1%);
  --docs-color-pink-100: hsl(325.7 77.8% 94.7%);
  --docs-color-pink-200: hsl(325.9 84.6% 89.8%);
  --docs-color-pink-300: hsl(327.4 87.1% 81.8%);
  --docs-color-pink-400: hsl(328.6 85.5% 70.2%);
  --docs-color-pink-500: hsl(330.4 81.2% 60.4%);
  --docs-color-pink-600: hsl(333.3 71.4% 50.6%);
  --docs-color-pink-700: hsl(335.1 77.6% 42%);
  --docs-color-pink-800: hsl(335.8 74.4% 35.3%);
  --docs-color-pink-900: hsl(335.9 69% 30.4%);
  --docs-color-pink-950: hsl(336.2 65.4% 15.9%);

  /* Rose */
  --docs-color-rose-50: hsl(355.7 100% 97.3%);
  --docs-color-rose-100: hsl(355.6 100% 94.7%);
  --docs-color-rose-200: hsl(352.7 96.1% 90%);
  --docs-color-rose-300: hsl(352.6 95.7% 81.8%);
  --docs-color-rose-400: hsl(351.3 94.5% 71.4%);
  --docs-color-rose-500: hsl(349.7 89.2% 60.2%);
  --docs-color-rose-600: hsl(346.8 77.2% 49.8%);
  --docs-color-rose-700: hsl(345.3 82.7% 40.8%);
  --docs-color-rose-800: hsl(343.4 79.7% 34.7%);
  --docs-color-rose-900: hsl(341.5 75.5% 30.4%);
  --docs-color-rose-950: hsl(341.3 70.1% 17.1%);

  /**************************************************************
   * Theme Tokens
   *************************************************************/

  /* Primary */
  --docs-color-primary-50: var(--docs-color-purple-50);
  --docs-color-primary-100: var(--docs-color-purple-100);
  --docs-color-primary-200: var(--docs-color-purple-200);
  --docs-color-primary-300: var(--docs-color-purple-300);
  --docs-color-primary-400: var(--docs-color-purple-400);
  --docs-color-primary-500: var(--docs-color-purple-500);
  --docs-color-primary-600: var(--docs-color-purple-600);
  --docs-color-primary-700: var(--docs-color-purple-700);
  --docs-color-primary-800: var(--docs-color-purple-800);
  --docs-color-primary-900: var(--docs-color-purple-900);
  --docs-color-primary-950: var(--docs-color-purple-950);

  /* Success */
  --docs-color-success-50: var(--docs-color-green-50);
  --docs-color-success-100: var(--docs-color-green-100);
  --docs-color-success-200: var(--docs-color-green-200);
  --docs-color-success-300: var(--docs-color-green-300);
  --docs-color-success-400: var(--docs-color-green-400);
  --docs-color-success-500: var(--docs-color-green-500);
  --docs-color-success-600: var(--docs-color-green-600);
  --docs-color-success-700: var(--docs-color-green-700);
  --docs-color-success-800: var(--docs-color-green-800);
  --docs-color-success-900: var(--docs-color-green-900);
  --docs-color-success-950: var(--docs-color-green-950);

  /* Warning */
  --docs-color-warning-50: var(--docs-color-amber-50);
  --docs-color-warning-100: var(--docs-color-amber-100);
  --docs-color-warning-200: var(--docs-color-amber-200);
  --docs-color-warning-300: var(--docs-color-amber-300);
  --docs-color-warning-400: var(--docs-color-amber-400);
  --docs-color-warning-500: var(--docs-color-amber-500);
  --docs-color-warning-600: var(--docs-color-amber-600);
  --docs-color-warning-700: var(--docs-color-amber-700);
  --docs-color-warning-800: var(--docs-color-amber-800);
  --docs-color-warning-900: var(--docs-color-amber-900);
  --docs-color-warning-950: var(--docs-color-amber-950);

  /* Danger */
  --docs-color-danger-50: var(--docs-color-red-50);
  --docs-color-danger-100: var(--docs-color-red-100);
  --docs-color-danger-200: var(--docs-color-red-200);
  --docs-color-danger-300: var(--docs-color-red-300);
  --docs-color-danger-400: var(--docs-color-red-400);
  --docs-color-danger-500: var(--docs-color-red-500);
  --docs-color-danger-600: var(--docs-color-red-600);
  --docs-color-danger-700: var(--docs-color-red-700);
  --docs-color-danger-800: var(--docs-color-red-800);
  --docs-color-danger-900: var(--docs-color-red-900);
  --docs-color-danger-950: var(--docs-color-red-950);

  /* Neutral */
  --docs-color-neutral-50: var(--docs-color-gray-50);
  --docs-color-neutral-100: var(--docs-color-gray-100);
  --docs-color-neutral-200: var(--docs-color-gray-200);
  --docs-color-neutral-300: var(--docs-color-gray-300);
  --docs-color-neutral-400: var(--docs-color-gray-400);
  --docs-color-neutral-500: var(--docs-color-gray-500);
  --docs-color-neutral-600: var(--docs-color-gray-600);
  --docs-color-neutral-700: var(--docs-color-gray-700);
  --docs-color-neutral-800: var(--docs-color-gray-800);
  --docs-color-neutral-900: var(--docs-color-gray-900);
  --docs-color-neutral-950: var(--docs-color-gray-950);

  /* Neutral one-offs */
  --docs-color-neutral-0: hsl(0, 0%, 100%);
  --docs-color-neutral-1000: hsl(0, 0%, 0%);

  /* Border radii */
  --docs-border-radius-small: 0.1875rem;
  --docs-border-radius-medium: 0.325rem;
  --docs-border-radius-large: 0.5rem;
  --docs-border-radius-x-large: 1rem;
  --docs-border-radius-circle: 50%;
  --docs-border-radius-pill: 9999px;

  /* Elevations */
  --docs-shadow-x-small: 0 1px 2px hsl(240 3.8% 46.1% / 6%);
  --docs-shadow-small: 0 1px 2px hsl(240 3.8% 46.1% / 12%);
  --docs-shadow-medium: 0 2px 4px hsl(240 3.8% 46.1% / 12%);
  --docs-shadow-large: 0 2px 8px hsl(240 3.8% 46.1% / 12%);
  --docs-shadow-x-large: 0 4px 16px hsl(240 3.8% 46.1% / 12%);

  /* Spacings */
  --docs-spacing-3x-small: 0.125rem;
  --docs-spacing-2x-small: 0.25rem;
  --docs-spacing-x-small: 0.5rem;
  --docs-spacing-small: 0.75rem;
  --docs-spacing-medium: 1rem;
  --docs-spacing-large: 1.25rem;
  --docs-spacing-x-large: 1.75rem;
  --docs-spacing-2x-large: 2.25rem;
  --docs-spacing-3x-large: 3rem;
  --docs-spacing-4x-large: 4.5rem;

  /* Fixed Spaces */
  --docs-spacing-bar: 60px;
  --docs-spacing-tile: 80px;
  --docs-spacing-sidenav: 320px;
  --docs-spacing-small-panel: 170px;
  --docs-spacing-medium-panel: 320px;
  --docs-spacing-panel: 360px;
  --docs-spacing-lside: 460px;

  /** Container Sizes */
  --docs-container-default: 100%;
  --docs-container-sm: 360px;
  --docs-container-smp: 480px;
  --docs-container-ph: 600px;
  --docs-container-md: 768px;
  --docs-container-lg: 1100px;
  --docs-container-hd: 1440px;
  --docs-container-3k: 1960px;
  --docs-container-4k: 2560px;


  /* Transitions  */
  --docs-transition-x-slow: 1000ms;
  --docs-transition-slow: 500ms;
  --docs-transition-medium: 250ms;
  --docs-transition-fast: 150ms;
  --docs-transition-x-fast: 50ms;

  /**************************************************************
   * Typography
   *************************************************************/

  /* Fonts */
  --docs-font-mono: 'Roboto Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  --docs-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --docs-font-serif: 'Roboto Slab', Georgia, 'Times New Roman', serif;

  /* Font sizes */
  --docs-font-size-2x-small: 0.625rem;
  --docs-font-size-x-small: 0.75rem;
  --docs-font-size-small: 0.875rem;
  --docs-font-size-medium: 1rem;
  --docs-font-size-large: 1.25rem;
  --docs-font-size-x-large: 1.5rem;
  --docs-font-size-2x-large: 2.25rem;
  --docs-font-size-3x-large: 3rem;
  --docs-font-size-4x-large: 4.5rem;

  /* Font weights */
  --docs-font-weight-light: 300;
  --docs-font-weight-normal: 400;
  --docs-font-weight-semibold: 500;
  --docs-font-weight-bold: 700;

  /* Letter spacings */
  --docs-letter-spacing-denser: -0.03em;
  --docs-letter-spacing-dense: -0.015em;
  --docs-letter-spacing-normal: normal;
  --docs-letter-spacing-loose: 0.075em;
  --docs-letter-spacing-looser: 0.15em;

  /* Line heights */
  --docs-line-height-denser: 1;
  --docs-line-height-dense: 1.4;
  --docs-line-height-normal: 1.8;
  --docs-line-height-loose: 2.2;
  --docs-line-height-looser: 2.6;

  /* Focus rings */
  --docs-focus-ring-color: var(--docs-color-primary-600);
  --docs-focus-ring-style: solid;
  --docs-focus-ring-width: 3px;
  --docs-focus-ring: var(--docs-focus-ring-style) var(--docs-focus-ring-width) var(--docs-focus-ring-color);
  --docs-focus-ring-offset: 1px;

  /**************************************************************
   * Forms
   *************************************************************/

  /* Buttons */
  --docs-button-font-size-small: var(--docs-font-size-x-small);
  --docs-button-font-size-medium: var(--docs-font-size-small);
  --docs-button-font-size-large: var(--docs-font-size-medium);

  /* Inputs */
  --docs-input-height-small: 1.875rem;
  --docs-input-height-medium: 2.5rem;
  --docs-input-height-large: 3.125rem;

  /* Input background colors */
  --docs-input-background-color: var(--docs-color-neutral-50);
  --docs-input-background-color-hover: var(--docs-color-neutral-100);
  --docs-input-background-color-focus: var(--docs-color-neutral-100);
  --docs-input-background-color-disabled: var(--docs-color-neutral-300);

  /* Input borders */
  --docs-input-border-color: var(--docs-color-neutral-300);
  --docs-input-border-color-hover: var(--docs-color-neutral-400);
  --docs-input-border-color-focus: var(--docs-color-primary-500);
  --docs-input-border-color-disabled: var(--docs-color-neutral-300);
  --docs-input-border-width: 1px;

  /* Input Required Content */
  --docs-input-required-content: '*';
  --docs-input-required-content-offset: -2px;
  --docs-input-required-content-color: var(--docs-input-label-color);

  /* Input border radii */
  --docs-input-border-radius-small: var(--docs-border-radius-medium);
  --docs-input-border-radius-medium: var(--docs-border-radius-medium);
  --docs-input-border-radius-large: var(--docs-border-radius-medium);

  /* Input fonts */
  --docs-input-font-family: var(--docs-font-sans);
  --docs-input-font-weight: var(--docs-font-weight-normal);
  --docs-input-font-size-small: var(--docs-font-size-small);
  --docs-input-font-size-medium: var(--docs-font-size-medium);
  --docs-input-font-size-large: var(--docs-font-size-large);
  --docs-input-letter-spacing: var(--docs-letter-spacing-normal);

  /* Input colors */
  --docs-input-color: var(--docs-color-neutral-800);
  --docs-input-color-hover: var(--docs-color-neutral-800);
  --docs-input-color-focus: var(--docs-color-neutral-700);
  --docs-input-color-disabled: var(--docs-color-neutral-800);
  --docs-input-icon-color: var(--docs-color-neutral-500);
  --docs-input-icon-color-hover: var(--docs-color-neutral-600);
  --docs-input-icon-color-focus: var(--docs-color-neutral-600);
  --docs-input-placeholder-color: var(--docs-color-neutral-500);
  --docs-input-placeholder-color-disabled: var(--docs-color-neutral-600);

  /* Input spacing */
  --docs-input-spacing-small: var(--docs-spacing-small);
  --docs-input-spacing-medium: var(--docs-spacing-medium);
  --docs-input-spacing-large: var(--docs-spacing-large);

  /* Focus rings */
  --docs-input-focus-ring-color: hsl(256 91% 59%/ 40%);
  --docs-input-focus-ring-offset: 0;

  /* Labels */
  --docs-input-label-font-size-small: var(--docs-font-size-small);
  --docs-input-label-font-size-medium: var(--docs-font-size-medium);
  --docs-input-label-font-size-large: var(--docs-font-size-large);
  --docs-input-label-color: var(--docs-color-neutral-900);

  /* Help text */
  --docs-input-help-text-font-size-small: var(--docs-font-size-x-small);
  --docs-input-help-text-font-size-medium: var(--docs-font-size-small);
  --docs-input-help-text-font-size-large: var(--docs-font-size-medium);
  --docs-input-help-text-color: var(--docs-color-neutral-500);

  /* Toggles (checkboxes, radios, switches) */
  --docs-toggle-size-small: 0.875rem;
  --docs-toggle-size-medium: 1.125rem;
  --docs-toggle-size-large: 1.375rem;

  /* Overlays */
  --docs-overlay-background-color: hsl(240 3.8% 46.1% / 33%);

  /* Panels */
  --docs-panel-background-color: var(--docs-color-neutral-0);
  --docs-panel-border-color: var(--docs-color-neutral-200);
  --docs-panel-border-width: 1px;

  /* Tooltips */
  --docs-tooltip-border-radius: var(--docs-border-radius-medium);
  --docs-tooltip-background-color: var(--docs-color-neutral-900);
  --docs-tooltip-color: var(--docs-color-neutral-0);
  --docs-tooltip-font-family: var(--docs-font-sans);
  --docs-tooltip-font-weight: var(--docs-font-weight-normal);
  --docs-tooltip-font-size: var(--docs-font-size-small);
  --docs-tooltip-line-height: var(--docs-line-height-dense);
  --docs-tooltip-padding: var(--docs-spacing-x-small) var(--docs-spacing-small);
  --docs-tooltip-arrow-size: 6px;

  /* Z-indexes */
  --docs-z-index-drawer: 700;
  --docs-z-index-dialog: 800;
  --docs-z-index-dropdown: 900;
  --docs-z-index-toast: 950;
  --docs-z-index-tooltip: 1000;
}

.theme-dark {
  color-scheme: dark;

  /**************************************************************
  * Color Primitives
  *************************************************************/

  /* Gray */
  --docs-color-gray-50: hsl(258, 15%, 23%);
  --docs-color-gray-100: hsl(262, 12%, 35%);
  --docs-color-gray-200: hsl(259, 13%, 42%);
  --docs-color-gray-300: hsl(259, 13%, 54%);
  --docs-color-gray-400: hsl(258, 15%, 58%);
  --docs-color-gray-500: hsl(254, 17%, 66%);
  --docs-color-gray-600: hsl(251, 17%, 76%);
  --docs-color-gray-700: hsl(260, 21%, 89%);
  --docs-color-gray-800: hsl(255, 12%, 94%);
  --docs-color-gray-900: hsl(240, 13%, 95%);
  --docs-color-gray-950: hsl(255, 33%, 98%);

  /* Red */
  --docs-color-red-50: hsl(0 56% 23.9%);
  --docs-color-red-100: hsl(0.6 60% 33.9%);
  --docs-color-red-200: hsl(0.9 67.2% 37.1%);
  --docs-color-red-300: hsl(1.1 71.3% 43.7%);
  --docs-color-red-400: hsl(1 76% 52.5%);
  --docs-color-red-500: hsl(0.7 89.6% 57.2%);
  --docs-color-red-600: hsl(0 98.6% 67.9%);
  --docs-color-red-700: hsl(0 100% 72.3%);
  --docs-color-red-800: hsl(0 100% 85.6%);
  --docs-color-red-900: hsl(0 100% 90.3%);
  --docs-color-red-950: hsl(0 100% 95.9%);

  /* Orange */
  --docs-color-orange-50: hsl(15 64.2% 23.3%);
  --docs-color-orange-100: hsl(15.1 70.9% 31.1%);
  --docs-color-orange-200: hsl(15.3 75.7% 35.5%);
  --docs-color-orange-300: hsl(17.1 83.5% 42.7%);
  --docs-color-orange-400: hsl(20.1 88% 50.8%);
  --docs-color-orange-500: hsl(24.3 100% 50.5%);
  --docs-color-orange-600: hsl(27.2 100% 57.7%);
  --docs-color-orange-700: hsl(31.3 100% 68.7%);
  --docs-color-orange-800: hsl(33.8 100% 79.3%);
  --docs-color-orange-900: hsl(38.9 100% 87.7%);
  --docs-color-orange-950: hsl(46.2 100% 95%);

  /* Amber */
  --docs-color-amber-50: hsl(21.9 66.3% 21.1%);
  --docs-color-amber-100: hsl(21.5 73.6% 29.7%);
  --docs-color-amber-200: hsl(22.3 77.6% 33.3%);
  --docs-color-amber-300: hsl(25.4 84.2% 39.6%);
  --docs-color-amber-400: hsl(31.4 87.4% 46.7%);
  --docs-color-amber-500: hsl(37 96.6% 48.3%);
  --docs-color-amber-600: hsl(43.3 100% 53.4%);
  --docs-color-amber-700: hsl(46.5 100% 61.1%);
  --docs-color-amber-800: hsl(49.3 100% 73%);
  --docs-color-amber-900: hsl(51.8 100% 85%);
  --docs-color-amber-950: hsl(60 100% 94.6%);

  /* Yellow */
  --docs-color-yellow-50: hsl(32.5 60% 18.2%);
  --docs-color-yellow-100: hsl(28.1 68.6% 29%);
  --docs-color-yellow-200: hsl(31.3 75.8% 30.8%);
  --docs-color-yellow-300: hsl(34.7 84.4% 35.3%);
  --docs-color-yellow-400: hsl(40.1 87.3% 43.3%);
  --docs-color-yellow-500: hsl(44.7 88% 46%);
  --docs-color-yellow-600: hsl(47.7 100% 50.9%);
  --docs-color-yellow-700: hsl(51.3 100% 59.9%);
  --docs-color-yellow-800: hsl(54.6 100% 73%);
  --docs-color-yellow-900: hsl(58.9 100% 84.2%);
  --docs-color-yellow-950: hsl(60 100% 94%);

  /* Lime */
  --docs-color-lime-50: hsl(86.5 54.4% 18%);
  --docs-color-lime-100: hsl(87.6 56.8% 23.3%);
  --docs-color-lime-200: hsl(85.8 63.2% 24.5%);
  --docs-color-lime-300: hsl(86.1 72% 29.4%);
  --docs-color-lime-400: hsl(85.5 76.8% 37.3%);
  --docs-color-lime-500: hsl(84.3 74.2% 42.1%);
  --docs-color-lime-600: hsl(82.8 81.5% 52.6%);
  --docs-color-lime-700: hsl(82 89.9% 64%);
  --docs-color-lime-800: hsl(80.9 97.9% 76.6%);
  --docs-color-lime-900: hsl(77.9 100% 85.8%);
  --docs-color-lime-950: hsl(69.5 100% 93.8%);

  /* Green */
  --docs-color-green-50: hsl(144.3 53.6% 16%);
  --docs-color-green-100: hsl(143.2 55.4% 23.5%);
  --docs-color-green-200: hsl(141.5 58.2% 26.3%);
  --docs-color-green-300: hsl(140.8 64.2% 31.8%);
  --docs-color-green-400: hsl(140.3 68% 39.2%);
  --docs-color-green-500: hsl(141.1 64.9% 43%);
  --docs-color-green-600: hsl(141.6 72.4% 55.2%);
  --docs-color-green-700: hsl(141.7 82.7% 70.1%);
  --docs-color-green-800: hsl(141 90.9% 82.1%);
  --docs-color-green-900: hsl(142 100% 89.1%);
  --docs-color-green-950: hsl(144 100% 95.5%);

  /* Emerald */
  --docs-color-emerald-50: hsl(164.3 75% 13.5%);
  --docs-color-emerald-100: hsl(163.5 72.6% 20.1%);
  --docs-color-emerald-200: hsl(162.1 73.7% 22.4%);
  --docs-color-emerald-300: hsl(161.3 77.3% 27.6%);
  --docs-color-emerald-400: hsl(159.6 77.1% 34.3%);
  --docs-color-emerald-500: hsl(159.1 73.5% 37.9%);
  --docs-color-emerald-600: hsl(157.8 66.8% 48.9%);
  --docs-color-emerald-700: hsl(156.2 76.1% 63.8%);
  --docs-color-emerald-800: hsl(152.4 84.4% 77.4%);
  --docs-color-emerald-900: hsl(149.3 100% 87%);
  --docs-color-emerald-950: hsl(158.6 100% 94.8%);

  /* Teal */
  --docs-color-teal-50: hsl(176.5 51.5% 15.4%);
  --docs-color-teal-100: hsl(175.9 54.7% 22.3%);
  --docs-color-teal-200: hsl(175.9 60.7% 23.9%);
  --docs-color-teal-300: hsl(174.5 67.3% 28.8%);
  --docs-color-teal-400: hsl(174.4 71.9% 34.9%);
  --docs-color-teal-500: hsl(173.1 71% 38.3%);
  --docs-color-teal-600: hsl(172.3 68.2% 48.1%);
  --docs-color-teal-700: hsl(170.5 81.3% 61.5%);
  --docs-color-teal-800: hsl(168.4 92.1% 75.2%);
  --docs-color-teal-900: hsl(168.3 100% 86%);
  --docs-color-teal-950: hsl(180 100% 95.5%);

  /* Cyan */
  --docs-color-cyan-50: hsl(197.1 53.8% 20.3%);
  --docs-color-cyan-100: hsl(196.8 57.3% 27.2%);
  --docs-color-cyan-200: hsl(195.3 62.7% 29.4%);
  --docs-color-cyan-300: hsl(193.5 71.3% 34.1%);
  --docs-color-cyan-400: hsl(192.5 76.8% 40.6%);
  --docs-color-cyan-500: hsl(189.4 78.6% 42.6%);
  --docs-color-cyan-600: hsl(188.2 89.1% 51.7%);
  --docs-color-cyan-700: hsl(187 98.6% 66.2%);
  --docs-color-cyan-800: hsl(184.9 100% 78.3%);
  --docs-color-cyan-900: hsl(180 100% 86.6%);
  --docs-color-cyan-950: hsl(180 100% 94.8%);

  /* Sky */
  --docs-color-sky-50: hsl(203 63.8% 20.9%);
  --docs-color-sky-100: hsl(203.4 70.4% 28%);
  --docs-color-sky-200: hsl(202.7 75.8% 30.8%);
  --docs-color-sky-300: hsl(203.1 80.4% 36.1%);
  --docs-color-sky-400: hsl(202.1 80.5% 44.3%);
  --docs-color-sky-500: hsl(199.7 85.9% 47.7%);
  --docs-color-sky-600: hsl(198.7 97.9% 57.2%);
  --docs-color-sky-700: hsl(198.7 100% 70.5%);
  --docs-color-sky-800: hsl(198.8 100% 82.5%);
  --docs-color-sky-900: hsl(198.5 100% 89.9%);
  --docs-color-sky-950: hsl(186 100% 95.5%);

  /* Blue */
  --docs-color-blue-50: hsl(227.1 49.5% 22.7%);
  --docs-color-blue-100: hsl(225.8 58.9% 36.8%);
  --docs-color-blue-200: hsl(227.7 64.4% 42.9%);
  --docs-color-blue-300: hsl(226.1 72.7% 51.2%);
  --docs-color-blue-400: hsl(222.6 86.5% 56.3%);
  --docs-color-blue-500: hsl(217.8 95.8% 57.4%);
  --docs-color-blue-600: hsl(213.3 100% 65%);
  --docs-color-blue-700: hsl(210.9 100% 74.8%);
  --docs-color-blue-800: hsl(211.5 100% 83.4%);
  --docs-color-blue-900: hsl(211 100% 88.9%);
  --docs-color-blue-950: hsl(201.8 100% 95.3%);

  /* Indigo */
  --docs-color-indigo-50: hsl(243.5 40.8% 27%);
  --docs-color-indigo-100: hsl(242.9 45.7% 37.6%);
  --docs-color-indigo-200: hsl(244.7 52.7% 43.1%);
  --docs-color-indigo-300: hsl(245.3 60.5% 52.4%);
  --docs-color-indigo-400: hsl(244.1 79.2% 60.4%);
  --docs-color-indigo-500: hsl(239.6 88.7% 63.8%);
  --docs-color-indigo-600: hsl(234.5 96.7% 70.9%);
  --docs-color-indigo-700: hsl(229.4 100% 78.3%);
  --docs-color-indigo-800: hsl(227.1 100% 85%);
  --docs-color-indigo-900: hsl(223.8 100% 89.9%);
  --docs-color-indigo-950: hsl(220 100% 95.1%);

  /* Violet */
  --docs-color-violet-50: hsl(265.1 57.3% 25.4%);
  --docs-color-violet-100: hsl(263.5 63.8% 39.4%);
  --docs-color-violet-200: hsl(263.4 66.2% 44.1%);
  --docs-color-violet-300: hsl(263.7 72.8% 52.4%);
  --docs-color-violet-400: hsl(262.5 87.3% 59.8%);
  --docs-color-violet-500: hsl(258.3 95.1% 63.2%);
  --docs-color-violet-600: hsl(255.1 100% 67.2%);
  --docs-color-violet-700: hsl(253 100% 81.5%);
  --docs-color-violet-800: hsl(251.7 100% 87.9%);
  --docs-color-violet-900: hsl(254.1 100% 91.7%);
  --docs-color-violet-950: hsl(257.1 100% 96.1%);

  /* Purple */
  --docs-color-purple-50: hsl(255, 79%, 23%);
  --docs-color-purple-100: hsl(257, 73%, 35%);
  --docs-color-purple-200: hsl(257, 76%, 42%);
  --docs-color-purple-300: hsl(257, 76%, 50%);
  --docs-color-purple-400: hsl(256, 91%, 59%);
  --docs-color-purple-500: hsl(252, 98%, 66%);
  --docs-color-purple-600: hsl(249, 100%, 76%);
  --docs-color-purple-700: hsl(246, 100%, 85%);
  --docs-color-purple-800: hsl(244, 100%, 92%);
  --docs-color-purple-900: hsl(245, 100%, 95%);
  --docs-color-purple-950: hsl(249, 100%, 97%);


  /* Fuchsia */
  --docs-color-fuchsia-50: hsl(297.1 51.2% 18.6%);
  --docs-color-fuchsia-100: hsl(296.7 59.5% 31.5%);
  --docs-color-fuchsia-200: hsl(295.4 65.4% 35.1%);
  --docs-color-fuchsia-300: hsl(294.6 67.4% 42.2%);
  --docs-color-fuchsia-400: hsl(293.3 68.7% 51.2%);
  --docs-color-fuchsia-500: hsl(292.1 88.4% 57.7%);
  --docs-color-fuchsia-600: hsl(292 98.5% 59.5%);
  --docs-color-fuchsia-700: hsl(292.4 100% 79.5%);
  --docs-color-fuchsia-800: hsl(292.9 100% 86.8%);
  --docs-color-fuchsia-900: hsl(300 100% 91.5%);
  --docs-color-fuchsia-950: hsl(300 100% 96.3%);

  /* Pink */
  --docs-color-pink-50: hsl(336.2 59.6% 20%);
  --docs-color-pink-100: hsl(336.8 63.9% 34%);
  --docs-color-pink-200: hsl(336.8 68.7% 37.6%);
  --docs-color-pink-300: hsl(336.1 71.8% 44.5%);
  --docs-color-pink-400: hsl(333.9 74.9% 53.1%);
  --docs-color-pink-500: hsl(330.7 86.3% 57.7%);
  --docs-color-pink-600: hsl(328.6 91.5% 67.2%);
  --docs-color-pink-700: hsl(327.4 97.6% 78.7%);
  --docs-color-pink-800: hsl(325.1 100% 86.6%);
  --docs-color-pink-900: hsl(322.1 100% 91.3%);
  --docs-color-pink-950: hsl(315 100% 95.9%);

  /* Rose */
  --docs-color-rose-50: hsl(342.3 62.9% 21.5%);
  --docs-color-rose-100: hsl(342.8 68.9% 34.2%);
  --docs-color-rose-200: hsl(344.8 72.6% 37.3%);
  --docs-color-rose-300: hsl(346.9 75.8% 43.7%);
  --docs-color-rose-400: hsl(348.2 80.1% 52.7%);
  --docs-color-rose-500: hsl(350.4 94.8% 57.5%);
  --docs-color-rose-600: hsl(351.2 100% 58.1%);
  --docs-color-rose-700: hsl(352.3 100% 78.1%);
  --docs-color-rose-800: hsl(352 100% 86.2%);
  --docs-color-rose-900: hsl(354.5 100% 90.7%);
  --docs-color-rose-950: hsl(353.3 100% 95.7%);

  /* Neutral one-offs */
  --docs-color-neutral-0: hsl(0, 0%, 0%);
  --docs-color-neutral-1000: hsl(0, 0%, 100%);

  /* Elevations */
  --docs-shadow-x-small: 0 1px 2px hsl(0 0 0  / 18%);
  --docs-shadow-small: 0 1px 2px hsl(0 0 0  / 24%);
  --docs-shadow-medium: 0 2px 4px hsl(0 0 0  / 24%);
  --docs-shadow-large: 0 2px 8px hsl(0 0 0  / 24%);
  --docs-shadow-x-large: 0 4px 16px hsl(0 0 0  / 24%);

  /* Inputs */
  --docs-input-background-color: hsl(223, 14%, 10%);
  --docs-input-background-color-hover: hsl(252, 15%, 13%);
  --docs-input-background-color-focus: hsl(252, 15%, 13%);
  --docs-input-background-color-disabled: hsl(280, 6%, 9%);

  --docs-input-border-color: hsl(240, 8%, 21%);
  --docs-input-border-color-hover: hsl(255, 16%, 15%);
  --docs-input-border-color-focus: var(--docs-color-primary-500);
  --docs-input-border-color-disabled: hsl(280, 6%, 9%);

  /* Focus rings */
  --docs-focus-ring-color: var(--docs-color-primary-700);

  /* Overlays */
  --docs-overlay-background-color: hsl(0 0% 0% / 43%);

  /* Panels */
  --docs-panel-background-color: var(--docs-color-neutral-50);

  /* Tooltips */
  --docs-tooltip-background-color: var(--docs-color-neutral-800);
}

